<!DOCTYPE html>
<html>
  <head>
    <title>Model3d</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-xl navbar-light bg-info">
      
        <ul class="navbar-nav w-100 ">
          <li class="nav-item active">
            <a class="nav-link" href=<%= root_path %>><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href=<%= stamp_path %>><i class="fas fa-stamp"></i></i> Create Stamp </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href=<%= keychain_path %>><i class="fas fa-key"></i> Create Keychain </a>
          </li>

          <li class="nav-item w-40">
            
            
          </li>

        
        
          <span >
            <% if user_signed_in? %>
              <li class="nav-item dropdown justify-content-end">
                <a class="nav-link dropdown-toggle justify-content-end" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <% if current_user.avatar.url != nil %>
                    <%= image_tag current_user.avatar.url, size: 40, class: 'rounded-circle' %>
                  <% else %>
                    <%= image_tag 'blank_profile.jpg', size: 40, class: 'rounded-circle' %>
                  <% end %>
                </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href=<%= edit_user_registration_path %>>Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href=<%= destroy_user_session_path %> data-method="delete">Sign Out</a>
                  </div>
              </li>

            <% else %>
                <li class="nav-item justify-content-end">
                  <span class="btn btn-outline-success text-light" href=<%= new_user_session_path %>> Sign In </span>
                </li>
            <% end %>       
          </span>

          </ul>
      </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>

